Package: flexdecrypt
Name: flexdecrypt
Depends: firmware (>=12.2) | org.swift.libswift (>=5.0), firmware (>= 9.0)
Author: John Coates
Maintainer: John Coates
Description: Tool for decrypting iOS apps and Mach-O binaries.
Version: 1.1
Section: Tools
Architecture: iphoneos-arm
